

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  background: var(--color-backgroundgrey);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

h1 {
  color: var(--color-white);
  margin-bottom: 12px;
  font-size: var(--h1-size);
}

h2 {
  color: var(--color-white);
  margin-bottom: 24px;
  font-size: var(--h3-size);
  font-weight: 200;
}

.Wrapper {
  min-width: 520px;
}

.PlayerForm {
    justify-content: space-between;
  align-items: right;
}

.player-input {
  align-items: left;
  outline: none;
  background: var(--color-mediumgrey);
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 12px;
  width: 100%;
  height: 48px;
  color: var(--color-white);
  font-size: var(--h3-size);
}

.Player {
  display: grid;
  grid-template-areas: "name table score";
  grid-template-columns: 100px 1fr 60px;
  align-items: center;
  background: var(--color-darkgrey);
  box-shadow: 0px 0px 8px var(--color-darkgrey);
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 12px;
  min-height: 48px;
}

.PlayerName {
  grid-area: name;
  text-align: left;
  font-weight: 600;
  font-size: var(--h3-size);
  color: var(--color-white);
}

.Table {
  grid-area: table;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.Columns {
  display: inline-block;
  list-style: none;
  align-items: center;
}

.ColumnInput {
  border: none;
  background: var(--color-mediumgrey);
  padding: 8px 8px;
  width: 48px;
  color: var(--color-white);
  border-radius: 5px;
  font-size: var(--body-size);
  text-align: center;
}

.Description {
  color: var(--color-lightgrey);
  font-size: var(--description-size);
  text-align: center;
  vertical-align: middle;
  padding-top: 4px;
}

.PlayerScore {
  grid-area: score;
  text-align: right;
  align-items: right;
  font-size: var(--h3-size);
  font-weight: 600;
  color: var(--color-white);
}

.icons {
  grid-area: score;
  text-align: right;
}

.summaryWrapper {
  display: grid;
  grid-template-areas: ". summary .";
  grid-template-columns: 100px 1fr 60px;
  align-items: center;
  text-align: center;
  padding: 8px;
}

.Summary {
  grid-area: summary;
  font-size: var(--description-size);
  display: flex;
  justify-content: space-between;
}



.summaryText {
  display: inline-block;
  list-style: none;
  color: var(--color-lightgrey);
  text-align: center;
  width: 48px;
}


.passive-btn {
  align-items: right;
  background: var(--color-darkgrey);
  color: var(--color-white);
  box-shadow: 0px 0px 8px var(--color-darkgrey);
  border: none;
  margin-bottom: 12px;
  cursor: pointer;
  width: 100%;
  height: 48px;
  font-size: var(--h3-size);
  font-weight: 600;
  border-radius: 5px;
}

.active-btn {
  background: var(--color-active);
  color: var(--color-darkgrey);
  box-shadow: 0px 0px 8px var(--color-darkgrey);
  border: none;
  cursor: pointer;
  width: 100%;
  height: 48px;
  font-size: var(--h3-size);
  font-weight: 600;
  border-radius: 5px;
}

.red {
  color: red;
  font-weight: 800;
  text-align: center;
}

.black {
  color: var(--color-lightgrey);
  font-weight: 800;
  text-align: center;
}

.spielInfo {
  color: var(--color-lightgrey);
  text-align: center;
  font-size: var(--description-size);
}

.icon-style{
  color: var(--color-lightgrey);
  margin-left: 0.75rem;
  align-items: center;
}



@media (max-width: 600px) {


  .Wrapper {
    min-width: 10px;
    max-width: 346px;
  }

  .Player {
    display: grid; /*!!! */
    grid-template-areas: "name score" "table table";
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-between; */
    align-items: center;
    background: var(--color-darkgrey);
    box-shadow: 0px 0px 8px var(--color-darkgrey);
    color: var(--color-white);
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 12px;
    width: 100%;
    min-height: 48px;
  }

  .summaryWrapper {
    display: grid;
    grid-template-areas: "summary summary";
    grid-template-columns: 1fr 1fr;
  
  }
}